.smol{
    justify-content: center;
    text-align: center;
    height: 30px;
    border: none;
    border-radius: 15px;
    color: rgb(95, 95, 95);
    font-family: Arial, sans-serif;
    font-size: medium;
    width: 25%;

    background: #e0e0e0;
    box-shadow:  6px 6px 12px #bebebe,
                -6px -6px 12px #ffffff;
}
.smol:focus-within {
    outline: none;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  6px 6px 13px #bcbcbc,
                 -6px -6px 13px #ffffff;
}
.smol:hover {
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  6px 6px 13px #bcbcbc,
                 -6px -6px 13px #ffffff;
}