.form{
  height: 22px;
  border-radius: 10px;
  border: none;
  color: rgb(95, 95, 95);
  font-family: Arial, sans-serif;
  font-size: medium;
  width: 37%;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;

  background: #e0e0e0;
  box-shadow:  6px 6px 12px #bebebe,
              -6px -6px 12px #ffffff;
}

.form:focus{
  outline: none;
  box-shadow: inset 6px 6px 13px #d0d0d0,
            inset -6px -6px 13px #f0f0f0;
}