.nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  text-align: center;
  height: 30px;
  border-radius: 10px;
  width: 90%;
  margin-left: 5%;
  border: none;
  color: rgb(95, 95, 95);
  font-family: Arial, sans-serif;

  background: #e0e0e0;
  box-shadow:  6px 6px 12px #bebebe,
              -6px -6px 12px #ffffff;
}