@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);

#buttons {
    margin-top: -0.4rem;
    display: flex;
}

.macronbutton {
    height: 4pc;
    width: 4pc;
    background-color: rgb(0, 193, 252);
    border-radius: 2pc;
    color: white;
    border: none;
    font-size: medium;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    margin: 1pc;
    font-family: Roboto;
}
.macronbutton:focus {
    background-color: rgb(0, 155, 202);
    outline: none;
}

#nav {
    position: absolute;
    width: 80%;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    margin-top: 0.4rem;
}

.notabutton{
    background: none;
    padding: none;
    font-size: medium;
    border: none;
    color: rgb(0, 193, 252);
}

.notabutton:focus{
    color: rgb(0, 155, 202);
    outline: none;
}

.navbutton {
    color: rgb(0, 193, 252);
    font-weight: 700;
    background-color: white;
    border: none;
    font-size: small;
}

.navbutton:hover {
    color: rgb(0, 155, 202);
    outline: none;
}

#addpadding {
    margin-top: 2rem;
}

h1 {
    color: rgb(0, 193, 252);
    text-align: center;
}

#tip {
    font-size: medium;
    padding: none;
    margin: none;
}